/* #region font & colors */

:root {
  --color-1: #aeccf2;
  --color-2: #d5e2f2;
  --color-3: #a0bed9;
  --color-4: #f2f2f2;
  --color-5: #e9e9e6;
}

h1,
#nav-logo {
  font-family: utopia-std, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h2 {
  font-family: utopia-std, serif;
  font-weight: 700;
  font-style: normal;
  color: #aeccf2;
}

h3 {
  font-family: utopia-std, serif;
  font-weight: 700;
  font-style: normal;
  color: #aeccf2;
}

h4 {
  font-family: utopia-std, serif;
  font-weight: 400;
  font-style: normal;
  color: lightgray;
}

p {
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: darkgray;
}

/* #endregion font & colors */

/* #region global reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/*- maxwidth på siden samt luftrum på højre- og venstreside når vinduestørrelsen er større end 1200px
    6px luftrum på højre- og venstreside når man er på mobil -*/
body {
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;
}
main,
header,
footer {
  grid-column: 2/3;
  padding-inline: clamp(12px, 6px + 1.5vw, 24px);
}

main {
  grid-column: 2/3;
}
/*-  -*/

/* #endregion global reset */

/* #region header */

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--color-1);
  padding-block: 0.5rem;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;
}

#navbar {
  grid-column: 2/3;
  overflow: hidden;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

#nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  list-style: none;
}

#nav-logo {
  text-decoration: none;
  margin: auto;
}

.nav-link {
  text-decoration: none;
}

/* #endregion header */
