img {
  width: 100%;
}


/*main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main section {
  grid-column: 1/4;
}*/


/***First section***/
/*Sætter billede og tekst i et grid, og sætter indholdet i midten*/
.container {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

.image, .content {
    grid-area: 1/1;
    text-align: center;
}

.content {
    background: rgba(126, 158, 228, 0.685);
    margin-top: 30px;
    padding: 20px;
}

.content h2 {
    font-size: 60px;
    margin-top: 30px; /*så teksten rykker længere ned, og ikke er lige i midten*/
    font-weight: 300;
}

.content p {
    color: white;
    margin: 15px;
    line-height: 25px;
    text-transform: uppercase;
}

button {
    width: 170px;
    padding: 15px;
    text-align: center;
    margin: 50px 10px;
    margin-bottom: 30px;
    border-radius: 25px; /*gør kanterne blødere*/
    box-shadow: inset 0 0 0 0 #a0bed9;
    border: none;
    background:  #f2f2f2;
    color: #a0bed9;
    font-family: hero-new, sans-serif;
    transition: ease-in 0.5s;

}

button:hover {
box-shadow: inset 170px 0 0 0 #a0bed9;
color: white;
}

/* unvisited link */
.container a:link {
  color: #a0bed9;
  text-decoration: none;
}

/* visited link */
.container a:visited {
  color: #a0bed9;
}

/* mouse over link */
.container a:hover {
  color: white;
  text-decoration: underline;
}





/***Velkommen / Second section***/

/*#second_section {
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
}*/

.section_wrapper h3 {
  margin-bottom: 5%;
}

.section_wrapper h4 {
  margin-bottom: 3%;
}

p {
  margin-bottom: 3%;
}

@media (min-width: 1000px) {


.forside_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(126, 158, 228, 0.685);
}

  /***Velkommen / Second section***/
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }

  /***Velkommen / Third section***/