img {
  width: 100%;
}

/*____Generelt/mobilversion___*/

/*Styling på overskrifter + tekst*/

h3 {
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 1.5rem;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

p {
  margin-bottom: 10%;
  font-size: 1rem;
  line-height: 1.5;
}

main {
  /* overskriver globalstyle.css */
  padding-inline: 0;
  display: block;
}

main > *:not(#first_section) {
  /* rykker reglerne ned fra main til alle sections bortset fra #first_section */
  padding-inline: clamp(12px, 6px + 1.5vw, 24px);
  display: grid;
  grid-template-columns: auto minmax(0, 1200px) auto;
}

main > *:not(#first_section) > * {
  grid-column: 2/3;
}

/*___First section___*/

#first_section {
  grid-column: 1/4;
}

#splashbillede {
  max-height: 850px;
}

#first_section {
  display: grid;
  place-items: center;
  margin-bottom: 50px;
  margin-top: 0;
  width: 100%;
  background-size: cover;
  background: black;
}

img,
.content {
  grid-area: 1/1;
  text-align: center;
}

#first_section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.content {
  padding: 2rem;
  z-index: 1;
}

.content {
  margin-top: 30px;
  padding: 20px;
}

.content h3 {
  color: white;
}

.content p {
  color: white;
  font-size: 1rem;
}

.button p {
  color: white;
}

.content h2 {
  font-size: 2.3rem;
  font-weight: 300;
  color: white;
}

.content {
  margin-top: 10px;
}

.content p {
  margin: 10px;
  margin-bottom: 30px;
  line-height: 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

button {
  width: 170px; /*bredde af knappen*/
  padding: 15px; /*space rundt om tekst i knap*/
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 25px; /*gør kanterne blødere*/
  box-shadow: inset 0 0 0 0 #f2f2f2; /*først ingen farve, da det først kommer ved hover*/
  border: none;
  background: #a0bed9;
  color: #f2f2f2;
  transition: ease-in 0.5s; /*laver efffekt på knao*/
  font-size: 0.9rem;
}

.button p {
  font-size: 0.9rem;
  color: #f2f2f2;
}

/*visited link*/
.button:visited {
  color: #f2f2f2;
}

/*Gør sådan at farven kommer frem ved mouse over*/
button:hover {
  box-shadow: inset 170px 0 0 0 #f2f2f2;
  color: #a0bed9;
  text-decoration: underline;
  cursor: pointer;
}

.button p:hover {
  color: #a0bed9;
}

/*for at fjerne margin for p*/
.button p {
  margin-bottom: 0;
  margin-top: 0;
}

/*___Second section___*/

.section_wrapper {
  margin-bottom: 50px;
  margin-top: 20px;
  border-top: 1.5px solid #aeccf2;
}

.column_1 h3 {
  text-align: center;
}

.column_1 img {
  border-radius: 0.2rem;
}

.column_4 img {
  border-radius: 0.2rem;
}

/*___Third section___*/
#third_section {
  margin-top: 20px;
  margin-bottom: 80px;
  border-top: 1.5px solid #aeccf2;
  place-items: center;
}

#third_section .film {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

/*Gøre video responsive*/
#third_section .film video {
  /*position: absolute;*/
  width: 100%;
  /*height: 100%;*/
  /*left: 0;
  top: 0;*/
}

/*___TABLET/WEB version___*/
@media (min-width: 700px) {
  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  /*___First section___*/
  #first_section {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
    margin-top: 0;
    width: 100%;
    background-size: cover;
    background: black;
  }

  img,
  .content {
    grid-area: 1/1;
    text-align: center;
  }

  #first_section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }

  .content {
    padding: 2rem;
    z-index: 1;
  }

  .content {
    margin-top: 30px;
    padding: 20px;
  }

  .content h3 {
    color: white;
  }

  .content p {
    color: white;
    font-size: 1rem;
  }

  .button p {
    color: white;
  }

  .content h2 {
    font-size: 60px;
    font-weight: 300;
    color: white;
  }

  /*___Second section___*/
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    row-gap: 7%;
    margin-bottom: 10%;
  }

  .column_3 h4 {
    margin-top: 0;
  }

  /*____Third section____*/
}

@media (min-width: 1000px) {
  .content h2 {
    font-size: 5rem;
  }

  .content p {
    font-size: 1rem;
  }
}
