/* 
Hero New Regular
font-family: hero-new, sans-serif;
font-weight: 400;
font-style: normal;

Hero New Bold
font-family: hero-new, sans-serif;
font-weight: 700;
font-style: normal;

Utopia Std Regular
font-family: utopia-std, serif;
font-weight: 400;
font-style: normal;

Utopia Std Italic
font-family: utopia-std, serif;
font-weight: 400;
font-style: italic;

Utopia Std Bold
font-family: utopia-std, serif;
font-weight: 700;
font-style: normal;

Utopia Std Black Headline
font-family: utopia-std-headline, serif;
font-weight: 400;
font-style: normal;

/*
 
