
.Diagnostik,
.Forebyggelse,
.Rodbehandling,
.fyldninger,
.Fjernelse,
.Tandimplantater,
.Parodontose,
.Protese,
.Parodontose,
.Kronebehandling,
.Blegning,
.Bidefunktioner
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    border: 2px solid red;
  }

.Diagnostik{
    grid-column: 1;
}

.Forebyggelse{
    grid-column: 1;
}
