/* grid for priser */
.sectionwrapper1{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    gap: 20px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
}
/* grid for priser */
.sectionwrapper2{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    gap: 20px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
}

/* grid for info */
.behandling_pris,
.Betaling,
.Studerende,
.behandlinger{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 20px;
}

div {
    border: 2px solid rgb(255, 0, 128);
  }

/* grid placering for priser */
.Diagnostik{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.Forebyggelse{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}

.Rodbehandling{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
}

.fyldninger{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}

.Fjernelse{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}

.Tandimplantater{
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.Parodontose{
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
}

.Protese{
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
}

.Kronebehandling{
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}

.Blegning{
    display: grid;
    grid-column: 1/2;
    grid-row: 4/5;
}

.Bidefunktioner{
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
}

/* grid placering for behandlinger */
.Smertefri{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}
.Krone_Bro{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}
.Delprotese{
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
}
.Helprotese{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
}
.Implantat{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}
.Kosmetik{
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}
.Blegning2{
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
}
.Parodontose2{
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
}
.Tandsmykker{
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}

/* billede størrelse*/
img {
    width: 100%;
  }

.liste1{
font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: darkgray;
}