body {
  /* midlertidigt background-color */
  /*background-color: lightslategray;*/
}

.center {
  padding-block: 3rem;
  width: 100%;
  text-align: center;
}

section {
  margin-bottom: 4rem;
}

.double_columns {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 3.75rem;
}
.double_columns > * {
  flex-grow: 1;
  flex: 45%;
}

.flex_item {
  min-height: 9rem;
  padding-block: 2rem;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="radio"] {
  transform: scale(1.5) translateY(-1px);
  margin-right: 0.5rem;
}

input[type="checkbox"] {
  transform: scale(1.5) translateY(-1px);
  margin-right: 0.5rem;
}

#select_day {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#patient_type,
#select_day,
#reply_type {
  margin-top: 1.5rem;
}
input {
  margin-bottom: 1.5rem;
}

.inline {
  display: inline;
}
p.inline {
  color: black;
  font-size: 1rem;
}

#select_time select {
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

#comment_box {
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  resize: none;
  width: 100%;
  height: 8rem;
}

input[type="button"] {
  font-family: "Montserrat", sans-serif;
}

#submit_button {
  /*  width: 7rem;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: var(--color-1);
  border-radius: 8px;
  border-style: none;
  transition: 0.15s;
  font-family: hero-new, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;*/
  width: 8.75rem;
  padding: 16px;
  text-align: center;
  border-radius: 48px;
  box-shadow: inset 0 0 0 0 #a0bed9;
  border: none;
  background: #f2f2f2;
  color: #a0bed9;
  font-size: 0.9rem;
  cursor: pointer;
  transition: ease-in 0.5s;
}

#submit_button:hover {
  /*background-color: var(--color-3);*/
  box-shadow: inset 170px 0 0 0 #a0bed9;
  color: white;
}

#bg {
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
  position: fixed;
}

#pop_up {
  position: relative;
  width: clamp(300px, 170px + 32.6vw, 420px);
  height: 14rem;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 1rem;
  text-align: center;
}

#bg.active {
  z-index: 2;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
}

#close_button {
  width: 7.5rem;
  padding: 0.75rem;
  text-align: center;
  border-radius: 48px;
  border: 1px solid dimgray;
  background: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
  place-self: center;
}

#close_button:hover {
  border: 1px solid white;
  background: #a0bed9;
}

/*#submit_button:active {
  background-color: var(--color-2);
}*/

img {
  margin-block: 3rem;
}
